{% extends "base.html" %}

{% block content %}
    <div class="index_page">
        <div class="sidebar">
            <h3>Categories</h3>
            <ul>
                {% for cat in categories %}
                    <!-- add id to href to show task for certain category-->
                    <li><a href="{{cat.id}}" >{{cat.name}}</a></li> 
                {% endfor %}
            </ul>
        </div>
        <div class="content">
            {% for task in tasks %}
                <div class="task-card">
                    <p>{{task.content}}</p>
                    <a class="close_btn" href="/task/{{task.id}}">
                        <img src="/static/close.png" alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
